.container.manage-doctor {
    .create-content-doctor {
        background: rgba(0, 0, 255, 0.6);
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;

        &:hover {
            background: rgba(0, 0, 255, 1);
        }
    }

    .save-content-doctor {
        color: white;
        background: rgba(255, 242, 0, 0.8);
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        font-size: 16px;
        font-weight: bold;
        color: #000;

        &:hover {
            background: rgba(255, 242, 0, 1);

        }
    }

    .more-infor {
        display: flex;
        gap: 15px;
        margin-bottom: 10px;

        label {
            font-size: 16px;
        }

        .control-left {
            width: 20%;
        }

        .control-right {
            flex: 1;
        }

    }
        .more-infor-extra {
            .form-control {
                width: 100%;
            }
        }
}