.spcialty-container {
    margin-top: 80px;

    .all-specialty {
        margin-top: 30px;

        .file {
            display: flex;
            flex-direction: column;
        }

        .markdown {
            margin-top: 10px;
        }
    }

    .button {
        margin-top: 10px;
    }
}